#box1 {
  border: solid 1px;
  text-align: center;
  height: 100px;
  background-color: #d1d2d3;
}

#first-row {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 1290px;
  height: 340px;
  background-color: pink;
  margin: 10px;
}

#second-row {
  display: flex;
  justify-content: flex-end;
  width: 1290px;
  height: 340px;
  background-color: pink;
  margin: 10px;
}

.box2 {
  border: solid 1px;
  height: 300px;
  width: 300px;
  background-color: #d1d2d3;
  margin: 10px;
}

#first-row, #second-row {
  display: inline-flex;
}