.ulo {
  border-style: solid;
  border-width: 1px;
  background-color: #babbbc;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 5px;
  background-color: none;
  height: 680px;
  width: auto;
}

.january {
  border: solid;
  border-style: 1px;
  margin-right: 50px;
  margin-left: 100px; 
  height: 300px;
  width: 200px;
  background-color: #babbbc;
}

.february {
  border: solid;
  border-style: 1px;
  margin-right: 50px;
  margin-left: 50px;
  height: 300px;
  width: 200px;
  background-color: #babbbc;
}

.march {
  border: solid;
  border-style: 1px;
  margin-right: 50px;
  margin-left: 50px;
  height: 300px;
  width: 200px;
  background-color: #babbbc;
}

.april {
  border: solid;
  border-style: 1px;
  margin-right: 100px;
  margin-left: 50px;
  height: 300px;
  width: 200px;
  background-color: #babbbc;
}

.may {
  border: solid;
  border-style: 1px;
  margin-right: 50px;
  margin-left: 100px; 
  height: 300px;
  width: 200px;
  background-color: #babbbc;
}

.june {
  border: solid;
  border-style: 1px;
  margin-right: 50px;
  margin-left: 50px;
  height: 300px;
  width: 200px;
  background-color: #babbbc;
}

.july {
  border: solid;
  border-style: 1px;
  margin-right: 50px;
  margin-left: 50px;
  height: 300px;
  width: 200px;
  background-color: #babbbc;
}

.august {
  border: solid;
  border-style: 1px;
  margin-right: 100px;
  margin-left: 50px;
  height: 300px;
  width: 200px;
  background-color: #babbbc;
}